<div class="container-fluid p-5 bg-light">
  <div id="<%= dom_id adventure %>">
    <h1 class='display-4'>
      <%= adventure.activity %>
    </h1>

    <p class='lead'>
      <%= adventure.location %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= adventure.description %>
    </p>

    <p>
      <strong>Have we did it:</strong>
      <%= adventure.have_we_did_it %>
    </p>

  </div>
</div>
